<div class="container mt-5">
    <div *ngIf="allowCheckout">
        <div>
            <h1 class="fw-bold">Your Basket</h1>
        </div>
        <div class="bg-dark p-3" style="border-radius: 10px;">
            <div class="row">
                <div class="text-light col-9">
                    <p class="marginBetween">Subtotal ({{checkoutDetails.numberOfItems}} items) : ₹
                        {{checkoutDetails.discountedAmount}}</p>
                    <p class="marginBetween" style="color: rgb(136, 226, 63);">Savings: <span class="fw-bold">₹
                            {{checkoutDetails.savingAmount}}</span></p>
                </div>
                <div class="col-3 " style="margin: auto;" align="right">
                    <button (click)="checkout()" class=" btn btn-danger">Checkout</button>
                </div>
            </div>

        </div>
        <table mat-table [dataSource]="cartDetails" class="mat-elevation-z8 mt-5">

            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.product.productName}} </td>
            </ng-container>

            <ng-container matColumnDef="Description">
                <th mat-header-cell *matHeaderCellDef> Description </th>
                <td mat-cell *matCellDef="let element"> {{element.product.productDescription}} </td>
            </ng-container>

            <ng-container matColumnDef="Price">
                <th mat-header-cell *matHeaderCellDef> Price </th>
                <td mat-cell *matCellDef="let element"> {{element.product.productActualPrice}} </td>
            </ng-container>

            <ng-container matColumnDef="Discounted Price">
                <th mat-header-cell *matHeaderCellDef> Discounted Price </th>
                <td mat-cell *matCellDef="let element"> {{element.product.productDiscountedPrice}} </td>
            </ng-container>

            <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-raised-button color="warn" (click)="delete(element.cartId)">Delete</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <div>
        <div *ngIf="!allowCheckout" align="center">
            <img src="../assets/Images/mtbasket.jpeg" alt="">
    
            <h1 class="mt-5">Let's fill the empty Basket</h1>
            <button routerLink="/home" class="btn btn-danger"> Continue Shopping</button>
        </div>
    </div>
    
</div>