<div class="container mt-5 mb-3">
    <div class=" shadow p-2">
        <div class="row">
            <div class="col-8">
                <div class="row m-3">
                    <div class="col-4">
                        <div class="d-flex flex-column">
                            <div class="p-1 bd-highlight" *ngFor="let p of product.productImages; let i=index;" (click)="changeIndex(i)">
                                <img class=" card custom-card" style="cursor: pointer; height: 120px;" [src]="p.url"  alt="">
                            </div>
                          </div>
                        <!-- <mat-grid-list class="mt-2" cols="3" gutterSize="10" rowHeight="1:1">
                            <mat-grid-tile 
                                *ngFor="let p of product.productImages; let i=index;" (click)="changeIndex(i)">
                                <img class=" card custom-card" style="cursor: pointer;" [src]="p.url" height="200px" alt="">
                            </mat-grid-tile>
                        </mat-grid-list> -->
                    </div>
                    <div class="col-8">
                        <div class=" image-container p-3 ">
                            <img [src]="product.productImages[selectIndex].url" width="80%" class="product-zoom-image rounded" alt="">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-4">
    
                <div class="mt-3 brownText fw-bold">
                    <h1>{{upperCase(product.productName)}}</h1>
                </div>
    
                <div class="mt-3 descFontSize">
                    <b>Description:</b><br/>
                    <p class=" mt-2">{{product.productDescription}}</p>
                </div>
                <div class="mt-3">
                    <b class="h3"> ₹ {{product.productDiscountedPrice}}/- &nbsp; </b><br><br><span class="h6"
                            style="text-decoration: line-through;">₹{{product.productActualPrice}}</span>&nbsp;&nbsp;&nbsp;<span class="text-success fw-bold descFontSize">{{discountPercentage(product.productDiscountedPrice,product.productActualPrice)}}% off</span>
                            
                            <p class="descFontSize">Overall you save ₹{{saving(product.productDiscountedPrice,product.productActualPrice)}} ({{discountPercentage(product.productDiscountedPrice,product.productActualPrice)}}%) on this product</p>
                </div>
    
                <div class="mt-3">
                    <button  class="btn blackButton" style="border-radius: 3px;" type="button"
                        (click)="buyProduct(product.productId)">Buy Now</button>
                </div>    
            </div>
        </div>
    </div>
    <!-- <hr> -->
    <div class="mt-5">
        <p class="display-6 fw-bold brownText">You might be interested in</p><hr style="color: #97765d;">
    <app-interested-product [ignoreProductId]="product.productId" (selectedProduct)="changeCurrentproduct($event)"></app-interested-product>
    </div>
    

</div>