
<app-search (onSearchText)="showFilterProduct($event)"></app-search>

<div class="container mt-5">
    <div class="row">


        <ng-container *ngFor="let p of productDetails">
        <div class="col-3 py-2"  *ngIf="isMatch(p)" >
            <div class="card custom-card shadow">
                <div class="p-3">
                    <div class="image-container">
                        <img class="home-page-product-image" style="width: 90%;" [src]="p.productImages[0].url" alt="">
                    </div>

                    <div class="mt-2 brownText">
                        <h2>{{upperCase(p.productName)}}</h2>
                    </div>  

                    <div class="mt-2 mb-2">
                        <p
                            style="white-space: inherit; word-wrap: break-word; height: 35px; overflow: hidden; text-overflow: ellipsis;">
                            {{p.productDescription}}</p>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div>
                                <h2>₹ {{p.productDiscountedPrice}}/-</h2> <span
                                        style="text-decoration: line-through;">₹{{p.productActualPrice}}</span>&nbsp; 
                                        <span class="text-success fw-bold">{{percentage(p.productDiscountedPrice,p.productActualPrice)}}% off</span>
                            </div>
                        </div>
                        <div class="col-6 align-self-end">
                            <div class="mt-2">
                                <button  class="btn blackButton" (click)="productViewDetails(p.productId)" type="button">View
                                    Details</button>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

        </div>
    </ng-container>
    </div>

</div>