<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-3">
      <div class="shadow p-2">
        <h2>Filters</h2><hr>
        <div>
          <h3 class="fw-bold ps-1">Order status</h3>
          
            <input id="all" type="radio" name="status" value="all" [(ngModel)]="status" (change)="changeStatusToAll(status)">
            <label class="ms-3" for="all">All</label>
            <br>                    
            <input id="delivered" type="radio" name="status" value="Delivered" [(ngModel)]="status" (change)="changeStatusToDelivered(status)">
            <label class="ms-3" for="delivered">Delivered</label>  
            <br>          
            <input id="placed" type="radio" name="status" value="Placed" [(ngModel)]="status" (change)="changeStatusToPlaced(status)">
            <label class="ms-3" for="placed">Placed</label>
        </div>
        <div class="mt-2 ps-1">
          <h3 class="fw-bold">Pending actions</h3>
          <input id="pending" type="radio" name="status" value="Placed" [(ngModel)]="status" (change)="changeStatusToPlaced(status)">
            <label class="ms-3" for="pending">pending</label>
        </div>
      </div>
      
    </div>
    <div class="col-9 shadow p-3">
        <table class="table table-hover">
            
            <caption *ngIf="displayNoRecords">No record available</caption>
            <thead>
              <tr style="line-height: 55px;" class="tableHeading">
                <th class="brownText" scope="col">Order Id</th>
                <th class="brownText" scope="col">Product Name</th>
                <th class="brownText" scope="col">Name</th>
                <th class="brownText" scope="col">Address</th>
                <th class="brownText" scope="col">Contact No.</th>
                <th class="brownText" scope="col">Status</th>
                <th class="brownText" scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr class="tableContent" *ngFor="let order of orderDetails" style="line-height: 55px;">
                <td>{{order.orderId}}</td>
                <td>{{order.product.productName}}</td>
                <td>{{order.orderFullName}}</td>
                <td>{{order.orderFullAddress}}</td>
                <td>{{order.orderContactNumber}}</td>
                <td>{{getStatus(order.orderStatus)}}</td>
                <td>
                    <button class="btn btn-sm blackButton text-light" *ngIf="placed"  (click)="markAsDelivered(order.orderId)" style="border-radius: 30px;">Mark as Delivered</button>
                    <img src="../assets/Images/del3.png" *ngIf="!placed" height="60px" alt="">
                    <!-- <button class="btn btn-sm brownButton text-light" *ngIf="!placed"  style="border-radius: 30px;">Item Delivered</button> -->
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>